$font-stack: Arial, Helvetica, sans-serif;
$font-size: 14px;
$default-color: #000;
$primary-color: #28384e;
$secondary-color: #669bd2;

body {
  background-color: #f9f9f9;  
  color: $default-color;
  font-family: $font-stack;
  font-size: $font-size;
}

.app-container {
  padding: 1rem 1rem;
}

p {
  line-height: 1.5;
  padding: 0.5rem;
}

h1 {
  color: $primary-color;
  font-size: 2rem;
}

h1.title,
h1.examples-subtitle {
  color: $secondary-color;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1rem 0;
  text-transform: uppercase;
}

h4.title {
  color: $default-color;
  font-weight: 600;
  padding: 2rem 0 0.5rem 0;
  opacity: 0.5;
}

.form-container {
  $font-color-normal: rgba(40,56,78,0.6);
  $font-color-focus: #28384e;
  $border-color-normal: rgba(40,56,78,0.1);
  $border-color-focus: #28384e;

  label {
    color: $font-color-normal;
    display: block;
    font-size: 0.9rem;
    margin-top: 1rem;
    text-transform: uppercase;
  }

  label:focus {
    color: $font-color-focus;
  }

  textarea#user-input,
  select#languages {
    border: 1px solid $border-color-normal;
    border-radius: 5px;
    margin: 0.5rem 0; 
  }

  textarea#user-input {
    font-family: $font-stack;
    font-size: 0.9rem;
    padding: 0.5rem 0.5rem 2rem 0.5rem;
    width: 96%;
    overflow: scroll;
  }

  select#languages {
    height: 40px;
    width: 98%;
  }

  button#submit {
    color: #fff;
    background-color: #669bd2;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-top: 2rem;
    padding: 0.75rem;
  }
}

#results-section {
  border-radius: 5px;
  background-color: rgba(226, 229, 231, 0.3);
  display: none;
  margin-top: 1rem;
}

#submitted_text {
  background-color: #fff;
  border-radius: 3px;
}

.results_table {
  margin-top: 0.5rem;
  width: 100%;
  thead tr,
  tbody tr {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem 0.5rem 0.5rem;
  }
  thead tr th {
    color: $primary-color;
    font-size: 0.8rem;
    font-weight: 600;
    // opacity: 0.8;
  }
  tbody tr {
    border-radius: 3px;
    background-color: #fff;
    padding: 0.5rem;
  }
  tbody tr td {
    color: $secondary-color;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    // opacity: 0.6;
  }
}




